.top-info {
  display: flex;
  justify-content: space-between;
}

.contact_item {
  margin-bottom: 10px;  
  padding: 24px;
  transition: all .5s;
}

.contact-ava {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.contact_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact_info {
  margin: 10px 0;
}

.contact_link {
  color: rgb(134, 134, 134);
  text-decoration: none;
}

.contact_link:hover {
  color: #333;
}

.summary {
  font-size: 1.5rem;
}
